{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags ckwagtail_tags wagtailembeds_tags %}

{% block content %}

{% if self.photo and self.show_header_image %}
{% image self.photo height-500 class="block-lg w-100 cover" %}
{% endif %}

<header class="container container-outline py-5">
  <div class="container-mid mx-md-5">
    <h1>{{self.title}}</h1>

    <div class="heading-medium mt-4 text-darkgrey">
      {{self.intro_text|richtext}}
    </div>
  </div>
</header>

<main class="container container-outline streamfield pb-5">
  <div class="container-narrow">
    {% include_block self.body %}
  </div>
</main>
{% endblock content %}
