{% extends "projects/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags wagtailembeds_tags %}

{% block project_content %}

<main class="py-5 project-theme container container-outline">
  <div class="container-narrow streamfield">
    {% include_block self.body %}
  </div>
</main>

{% if self.themes.exists %}
  <div class="microcopy text-center py-5 border-top border-1 border-midgrey">
    Event themes
  </div>

  <div class="container-fluid mb-5">
    <div class="row g-3">
      {% for theme in self.themes %}
        <div class="col-8 col-md-4">
          <a href={{theme.url}} class="card">
            <div class="microcopy card-body d-flex justify-content-between flex-row">
              <span>{{theme.title}}</span>
              <div>
                <span class="color-circle" style="background-color: {{theme.color}};"></span>
              </div>
            </div>

            <div class="card-body">
              {{theme.description}}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% endblock project_content %}
