{% extends "projects/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckdjango_tags ckbootstrap_tags wagtailembeds_tags %}

{% block project_content %}

<main class="py-5 project-theme container container-outline streamfield">
  <div class="row">
    <div class="col" {% infinite_scroll_container %}>
      <h2>Events</h2>

      <form data-filter-form class="mt-5 mb-3" method="GET">
        <h3 class="microcopy">Filters</h3>

        <div class="col-8 overflow-auto text-nowrap">
          {% filter_toggles field=filter_form.theme label_class="btn me-2" %}
        </div>
      </form>

      {% for event in child_list_page %}
        <article class="col-8 col-md-4 p-3 iscroll_item card-flush mb-3" style="background-color: {{event.theme.background_color}};">
          <div class="mb-3 d-flex flex-direction-column justify-content-between microcopy">
            <div class="me-2 text-nowrap">
              <span class="color-circle me-1" style="background-color: {{event.theme.color}};"></span>

              {{event.theme.title}}
            </div>

            <div class="text-end">
              <div class="d-inline-block me-2 text-nowrap">
                {{event.start_time|date:"l"}}
              </div>
              <div class="d-inline-block me-2 text-nowrap">
                {{event.start_time|date:"H:i"}}–{{event.end_time|date:"H:i"}}
              </div>
            </div>
          </div>

          <div class="mb-4">
            <h3 class="my-3">
              {{event.title}}
            </h3>

            {{event.intro_text|richtext}}
          </div>

          <div class="mb-1">
            {% for speaker in event.speakers %}
              {% include "stopwatch/includes/avatar.html" with person=speaker %}
            {% endfor %}
          </div>

          <div>
            <a href="{{event.registration_page}}" class="btn btn-outline-secondary w-100">
              Register
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock project_content %}

{% block extra_js %}
{% bind_filter_form %}
{% endblock %}