{% extends "projects/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckdjango_tags ckbootstrap_tags wagtailembeds_tags %}

{% block project_content %}

<main class="py-5 project-theme container container-outline streamfield">
  <h2 class="mb-4 d-md-none">Events</h2>

  <div class="row">
    <form
      data-filter-form
      method="GET"
      class="col-8 form-unraised d-flex flex-row align-items-md-start col-md-3 col-lg-2 flex-column"
    >
      <h3 class="microcopy">Filters</h3>

      <div class="col-8 overflow-auto text-nowrap flex-column d-flex">
        {% filter_toggles field=filter_form.theme label_class="btn me-2 mb-2" %}
      </div>
    </form>

    <div class="col container-fluid" {% infinite_scroll_container %}>
      <h2 class="mb-4 d-none d-md-block">Events</h2>

      <div class="row g-3">
        {% for event in child_list_page %}
          <div class="col-8">
            {% include "projects/includes/event_card.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock project_content %}

{% block extra_js %}
{% bind_filter_form %}
{% endblock %}