{% extends "base.html" %}
{% load static ckbootstrap_tags %}

{% block content %}

<main>
  <header class="container pb-4 pb-lg-5">
    <h1 class="text-center my-4 my-lg-5">
      Research and action for fair and accountable policing.
    </h1>
  </header>

  <div class="container">
    <h2 class="mb-4">News</h2>

    <ul class="list-group mb-3">
      {% for page in child_list_page %}
        <ul class="list-group-item">
          <a href="{{page.url}}">
            {{page.title}}
          </a>
        </ul>
      {% endfor %}
    </ul>

    {% if child_list_paginator.num_pages > 1 %}
    <nav aria-label="Pages" class="d-flex flex-column align-items-center">
        {% bs_pagination child_list_paginator %}
    </nav>
    {% endif %}
  </div>
</main>

{% endblock content %}
