.logo {
  height: 60px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-bottom {
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-highlight {
  background-color: rgba(2, 128, 139, 0.1);
}

.block-lg {
  height: 300px;

  @include media-breakpoint-up(lg) {
    height: 500px;
  }
}

.card-hintscroll {
  max-width: 15rem;
  width: 80vw;
}

.flex-basis-0 {
  flex-basis: 0;
}

.avatar {
  filter: grayscale(0.9);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background-color: $secondary;
  object-fit: cover;
}

.avatar-initials {
  @include heading-small;
}

.block-tabs {
  background-color: $panel;
}

.square-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.streamfield {
  --bs-gutter-x: map-get($spacers, 3);
  --bs-gutter-y: map-get($spacers, 7);

  .block-text > *:not(:last-child) {
    margin-bottom: map-get($spacers, 3);
  }
}

.streamfield-flow {
  --bs-gutter-x: #{map-get($spacers, 3)};
  --bs-gutter-y: #{map-get($spacers, 7)};

  .block-cta,
  .block-form,
  .block-links,
  .block-newsletter_signup,
  .block-person_listing,
  .block-organisation_listing,
  .block-alert,
  .block-newsletter_signup {
    @extend .col-8;
    @extend .col-md-4;
  }
}

.full .block-text a,
.inline-link {
  text-decoration: underline;
}

.streamfield-compact {
  > *:not(:last-child) {
    margin-bottom: map-get($spacers, 3);
  }
  .block-text > *:not(:last-child) {
    margin-bottom: map-get($spacers, 2);
  }
}

.article-streamfield {
  .block-text {
    h2 {
      @include heading-small;
      color: $darkgrey;
    }

    h3,
    h4,
    h5,
    h6 {
      @include microcopy;
    }

    > h2:not(:first-child),
    > h3:not(:first-child) {
      margin-top: map-get($spacers, 5);
    }
  }

  .block-quote,
  .richtext-image {
    margin-bottom: map-get($spacers, 4);
    margin-top: map-get($spacers, 4);
  }
}

.color-circle {
  position: relative;
  top: -1px;
  margin: 1px 0;
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.nav-tabs {
  justify-content: space-evenly;
  background: $light;
  border-bottom: 1px solid $darkgrey;

  .nav-item {
    flex-grow: 1;

    @include media-breakpoint-up(md) {
      flex-basis: 0;
    }
  }

  .btn {
    @include microcopy;
    width: 100%;

    &.active {
      background: $lightgrey;
    }

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .nav-item {
      flex-shrink: 0;
    }
  }
}

.form-unraised {
  button,
  select {
    background-color: $light;
  }
}

.text-reset {
  font-family: $font-family-sans-serif;
  text-decoration: none;
  text-align: start;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

.btn + .tab-active-state {
  transition: $btn-transition;
}

.btn.active + .tab-active-state {
  background-color: $lightgrey;
}

.btn-wide {
  @include media-breakpoint-up(md) {
    padding-left: 113px;
    padding-right: 113px;
  }
}

.container {
  padding-left: map-get($spacers, 3);
  padding-right: map-get($spacers, 3);
}

.container-outline {
  @include media-breakpoint-up(md) {
    border-color: $midgrey;
    border: 0px solid $midgrey;
    border-width: 0px 1px;
  }
}

.container-outline-top {
  @include media-breakpoint-up(md) {
    border-top-width: 1px;
  }
}

.container-outline-btm {
  @include media-breakpoint-up(md) {
    border-bottom-width: 1px;
  }
}

.border-btm {
  border-bottom: 1px solid $midgrey;
}

.container-mid {
  max-width: 970px;
  margin: auto;
}

.container-narrow {
  max-width: 640px;
  margin: auto;
}

.subheading-maxwidth {
  @include media-breakpoint-up(md) {
    max-width: 500px;
  }
}

.progress-bar {
  position: absolute;
  left: 0px;
  bottom: -2px;
  background-color: $primary;
  height: 2px;
  width: 100%;
  will-change: transform;
  transform: scale(0, 1);
  transform-origin: 0% 50%;
}
