.logo {
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-bottom {
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-highlight {
  background-color: rgba(2, 128, 139, 0.1);
}

.block-lg {
  height: 300px;

  @include media-breakpoint-up(lg) {
    height: 500px;
  }
}

.card-hintscroll {
  max-width: 15rem;
  width: 80vw;
}

.flex-basis-0 {
  flex-basis: 0;
}

.avatar {
  filter: grayscale(0.9);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background-color: $secondary;
  object-fit: cover;
}

.avatar-initials {
  @include heading-small;
}

.block-tabs {
  background-color: $panel;
}

.square-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.streamfield {
  > * {
    margin-bottom: map-get($spacers, 5);
  }
  .block-text > * {
    margin-bottom: map-get($spacers, 4);
  }
}

.streamfield-compact {
  > *,
  .block-text > * {
    margin-bottom: map-get($spacers, 4);
  }
}

.article-streamfield {
  h2 {
    @include heading-small;
    color: $darkgrey;
  }

  h3,
  h4,
  h5,
  h6 {
    @include microcopy;
  }

  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: map-get($spacers, 5);
  }
}

.color-circle {
  position: relative;
  top: -1px;
  margin: 1px 0;
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.nav-tabs {
  justify-content: space-evenly;
  background: $light;
  border-bottom: 1px solid $darkgrey;

  .nav-item {
    position: relative;
    flex-basis: 0;
    flex: 1;
  }

  .btn {
    @include microcopy;
    width: 100%;

    &.active {
      background: $lightgrey;
    }
  }
}

.form-unraised {
  button,
  select {
    background-color: $light;
  }
}

.text-reset {
  font-family: $font-family-sans-serif;
  text-decoration: none;
  text-align: start;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

.btn + .tab-active-state {
  transition: $btn-transition;
}

.btn.active + .tab-active-state {
  background-color: $lightgrey;
}

.block-cta,
.block-newsletter_signup {
  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    width: 50%;
  }
}

.container-outline {
  @include media-breakpoint-up(md) {
    border: 0px solid $midgrey;
    border-width: 0px 1px;
  }
}

.container-mid {
  max-width: 970px;
  margin: auto;
}

.container-narrow {
  max-width: 640px;
  margin: auto;
}
