.our-team h2 {
  @include heading-xxlarge;
}

.contact-us h2 {
  @include heading-xxlarge;
}

.contact-us .linkblock-links-container {
  @extend .container-fluid;
}

.contact-us .linkblock-links-list {
  @extend .row;
}

.contact-us .linkblock-links-list:first-child {
  @extend .col-8;
  @extend .mb-5;
}

.contact-us .linkblock-link {
  @extend .col-4;
}

.contact-us .linkblock-link h3 {
  @extend .text-lg;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: bold;
}

.contact-us .linkblock-link div {
  @extend .text-sm;
}

.contact-us .linkblock-link a {
  @include microcopy;
  border-bottom: 1px solid $primary;
}

.contact-us .linkblock-link a:hover {
  text-decoration: none;
}

.contact-us .linkblock-link {
  @include mb(5);
}