.our-team h2 {
  @include heading-xxlarge;
}

.contact-us h2 {
  @include heading-xxlarge;
}

.contact-us .linkblock-link h3 {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}

.contact-us .linkblock-link div {
  font-size: 14px;
}

.contact-us .linkblock-link a {
  @include microcopy;
  border-bottom: 1px solid $primary;
}

.contact-us .linkblock-link a:hover {
  text-decoration: none;
}

.contact-us .linkblock-link {
  @include mb(5);
}