:root {
  --bs-font-sans-serif: "Open Sans", "sans-serif";
}

img {
  filter: grayscale(1);
}

body {
  ::selection {
    background: $primary-hover-light;
  }

  font-size: 15px;
  font-weight: 500;
  line-height: 133%;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  color: $dark;
}

@mixin heading-large {
  font-weight: 600;
  line-height: 125%;
  font-size: 32px;

  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}

@mixin heading-mid-large {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}

@mixin heading-medium {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03em;

  font-size: 32px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}

@mixin heading-small {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 125%;
}

@mixin microcopy {
  font-style: 600;
  font-size: 11px;
  line-height: 125%;
  text-transform: uppercase;
}

.heading-large,
h1 {
  @include heading-large;
}

.heading-mid-large {
  @include heading-mid-large;
}

.heading-medium,
h2 {
  @include heading-medium;
}

.heading-small,
h3 {
  @include heading-small;
}

.microcopy,
h4 {
  @include microcopy;
}

.text-sm {
  font-size: 13px;
}

.nav-link {
  font-weight: bold;
  color: $secondary;
  padding: 0 !important;

  &.active {
    color: $dark;
    border-bottom: 2px solid $primary;
  }
}

a.card {
  text-decoration: unset;
  color: unset;
}

.card.card-flush {
  > * {
    padding: 0;
  }

  overflow: hidden;

  .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
