// Fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap");

// Colors
$light: #eee;
$primary: #e10000;
$dark: #130c16;
$secondary: $dark;
$panel: #f7f9fa;
$lightgrey: #dbdbdb;
$darkgrey: #505050;
$muteddarkgrey: #727272;
$primary-hover-light: $darkgrey;
$alert: #ffb7b7;
$lightred: #ffcccc;
$brand1: #e10000;
$midgrey: #a3a3a3;
$page-theme: var(--page-theme, $brand1);
$custom-colors: (
  "light": $light,
  "lightgrey": $lightgrey,
  "darkgrey": $darkgrey,
  "muteddarkgrey": $muteddarkgrey,
  "midgrey": $midgrey,
  "panel": $panel,
  "alert": $alert,
);
$dark: #333333;

// Grid
$grid-columns: 8 !default;

// Fonts
$font-family-sans-serif: "Public Sans", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Font sizes:
$font-size-sm: 0.75rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 20px,
  4: 30px,
  5: 40px,
  6: 50px,
  7: 80px,
);

// Buttons
$input-btn-font-family: $font-family-monospace;
$input-btn-font-size: 14px;
$input-btn-padding-y: 10px;
$input-btn-padding-x: 20px;
$btn-font-weight: 500;

// Card
$card-border-width: 0;

// Forms
$input-padding-x: 10px;
$form-label-font-size: 18px;
$form-label-font-weight: bold;
$form-label-margin-bottom: 0;

// Borders
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

// Breadcrumbs
$breadcrumb-divider: none;

// List group
$list-group-color: inherit;
$list-group-bg: inherit;
$list-group-item-padding-x: 1rem;
$list-group-item-padding-y: 1rem;
$list-group-hover-bg: $primary-hover-light;

// Modal:
$modal-dialog-margin-y-sm-up: map-get($spacers, 7);
$modal-backdrop-bg: $midgrey;

// Layout
$container-max-widths: (
  sm: 1300px,
  md: 1300px,
  lg: 1300px,
  xl: 1300px,
  xxl: 1300px,
);
$grid-gutter-width: 20px;

// Merge with bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, $custom-colors);
