.overflow-y-auto {
  overflow-y: auto;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-height-0 {
  flex-basis: 0;
  min-height: 0;
}

.flex-width-0 {
  flex-basis: 0;
  min-width: 0;
}

.min-w-readable {
  min-width: 20em;
}

.full-bleed {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.z-2 {
  z-index: 2 !important;
}

.z-sticky {
  z-index: $zindex-sticky !important;
}

.cover {
  object-fit: cover !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.scale-embed {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.paragraph-container {
  > *:last-child {
    margin-bottom: 0;
  }
}

.max-lines-6 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  text-overflow: ellipsis;
}

.bg-page-theme {
  background-color: $page-theme;
}

.text-page-theme {
  color: var(--page-theme, #000);
}

.text-page-contrast {
  color: var(--page-theme-contrast, #000);
}

.link-reset,
.link-reset:hover,
.link-reset:focus {
  color: unset;
  text-decoration: unset;
}

.position-md-static {
  @include media-breakpoint-up(md) {
    position: static !important;
  }
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-card {
  @extend .ratio;
  --bs-aspect-ratio: 47%;
  position: relative;

  > * {
    object-fit: cover;
    width: 100%;
  }
}

.img-list {
  @extend .ratio;
  --bs-aspect-ratio: 56%;
  > * {
    object-fit: cover;
    width: 100%;
  }
}

.card-grid {
  display: grid;
  grid-gap: map-get($spacers, 3);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-hover-color-change:hover {
  color: inherit;
}