{% extends "base.html" %}
{% load static ckbootstrap_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}
<header class="container container-outline py-4">
  <h1 class="heading-medium">{{total_count}} results for “{{search_query}}’</h1>
</header>

<main class="container container-outline pb-7" {% infinite_scroll_container %}>
  <form method="GET" class="container-mid mt-3 mb-6">
      <div class="input-group">
        <input name="query" value="{{search_query|default:""}}" class="form-control text-naturalcase" autocapitalize="off"  aria-label="Search">
  
        <button type="submit" class="btn btn-secondary d-none d-md-inline-block">
            Search
        </button>
      </div>
  </form>

  {% include "stopwatch/includes/article_list.html" with class="container-mid" pages=pages style="ROWS" search_query=search_query only %}
</main>
{% endblock %}