{% extends "base.html" %}
{% load static ckbootstrap_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}
<header class="container my-4">
  <h1 class="heading-medium">{{total_count}} results for “{{search_query}}’</h1>
</header>

<main class="container mb-4"  {% infinite_scroll_container item_selector='.card' %}>
  {% for result in search_results %}
    {% include "stopwatch/includes/article-list-item.html" with page=result.page.specific summary=result.page.specific.intro_text %}
  {% endfor %}
</main>
{% endblock %}