{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags wagtailembeds_tags %}

{% block extra_css %}
<style>
  :root {
    --page-theme: {{self.project.color}};
    --page-theme-contrast: {{self.project.contrast_color}}
  }
</style>
{% endblock %}

{% block content %}
  {% block project_header %}
    <header class="container container-outline p-0">
      <div class="row g-0">
        <div class="col-8 col-md-4">
          {% image self.project.photo height-500 class="img-fit" %}
        </div>
  
        <div class="col-8 col-md-4 order-md-first bg-page-theme p-3 py-5 py-md-7 streamfield-compact text-page-contrast">
          <div class="microcopy">Project</div>
          <h1 class="heading-xlarge">{{self.project.title}}</h1>
  
          {{self.project.description|richtext}}
        </div>
      </div>

      {% if self.project.pages.exists %}
        <div class="border-bottom border-1 border-midgrey">
          <ul class="nav nav-tabs d-md-inline-flex border-0" role="tablist">
            <li class="nav-item">
              {% bs_link class="btn" href=self.project.url label='Overview' %}
            </li>

            {% for page in self.project.pages %}
              <li class="nav-item">
                {% bs_link class="btn" href=page.url label=page.title %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </header>
  {% endblock %}

  {% block project_content %}
  {% endblock %}
{% endblock content %}
