{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags wagtailembeds_tags %}

{% block extra_css %}
<style>
  :root {
    --page-theme: {{self.project.color}};
  }
</style>
{% endblock %}

{% block content %}
  {% block project_header %}
    <header>
      {% image self.project.photo height-500 class="img-fluid" %}

      <div class="bg-page-theme w-100 p-3 pt-4 pb-5 d-flex flex-column justify-content-end streamfield-compact">
        <h1 class="heading-medium mb-4">{{self.project.title}}</h1>

        {{self.project.description|richtext}}
      </div>
    </header>
  {% endblock %}

  {% if self.project.pages.exists %}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        {% bs_link class="btn" href=self.project.url label='Overview' %}
      </li>

      {% for page in self.project.pages %}
        <li class="nav-item">
          {% bs_link class="btn" href=page.url label=page.title %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block project_content %}
  {% endblock %}
{% endblock content %}
