{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags wagtailembeds_tags %}

{% block extra_css %}
<style>
  :root {
    --page-theme: {{self.project.color}};
  }
</style>
{% endblock %}

{% block content %}
  {% block project_header %}
    <header>
      {% image self.project.photo height-500 class="img-fluid" %}

      <div class="bg-page-theme w-100 p-2 pt-4 d-flex flex-column  justify-content-end">
        <h1>{{self.project.title}}</h1>

        <div>
          {{self.project.description|richtext}}
        </div>
      </div>
    </header>
  {% endblock %}

  {% if self.project.pages.exists %}
    <div>
      {% bs_link class="nav-link" href=self.project.url label='Overview' %}

      {% for page in self.project.pages %}
        {% bs_link class="nav-link" href=page.url label=page.title %}
      {% endfor %}
    </div>
  {% endif %}

  {% block project_content %}
  {% endblock %}
{% endblock content %}
