{% extends "base.html" %}
{% load static wagtailuserbar ckdjango_tags ckwagtail_tags ckbootstrap_tags wagtailcore_tags wagtailmetadata_tags %}

{% block content %}
    <div class="container py-5 py-md-7 container-outline">
        <div class="container-narrow block-text">
            <p>
                Sorry, we're having some technical difficulties.
            </p>
            <p>
            Try again in a few minutes. If this keeps happening, please <a href="mailto:{{settings.stopwatch.SiteSettings.email_contact}}">let us know</a>.
        </div>
    </div>

{% endblock %}
