{% load wagtailcore_tags %}

<div id="accordion-{{ forloop.counter }}" role="tablist" aria-multiselectable="false" class="accordion">
{% for block in self %}
  <div class="accordion-item">
    <div class="accordion-header" role="tab" id="heading-{{ forloop.counter }}">
      <a class="accordion-button" type="button"
      data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"  
      aria-expanded="false" aria-controls="collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
        {% include_block block.value.title %}
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
    <div id="collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ forloop.counter }}">
      <div class="accordion-body">{% include_block block.value.content %}</div>
    </div>
  </div>
{% endfor %}
</div>