{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags django_bootstrap5 %}


<section class="position-relative">
  <h2 class="heading-medium mb-3">
    {{self.heading}}
  </h2>
  
  {{self.content|richtext}}
  
  {% image self.image height-200 class="img-fluid" %}

  {% if form %}
    <form action="{% pageurl self.target %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form show_label=False %}
  
      <button type="submit" class="btn btn-primary w-100">
        {{self.target.title}}
      </button>
    </form>
  {% else %}
    <a href="{{self.target.url}}" class="btn btn-primary d-block mt-3">
      {{self.target.title}}
    </a>
  {% endif %}  
</section>