{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags %}

{% if image %}
  {% image self.image height-200 class="img-fluid" %}
{% endif %}

<h2 class="mb-3">
  {{self.heading}}
</h2>

{{self.content|richtext}}

<form class="position-relative" method="POST" action="{{settings.stopwatch.SiteSettings.email_list_url}}">
  <div class="input-group mt-3">
    <input type="email" name="EMAIL" class="form-control" id="emailField" placeholder="Email address" aria-label="Email address">

    <button type="submit" class="btn btn-secondary d-none d-md-inline-block">
      Subscribe
    </button>
  </div>
  
  <button type="submit" class="btn mt-3 w-100 btn-primary d-block d-md-none">
    Subscribe
  </button>
</form>