{% load static wagtailcore_tags ckwagtail_tags wagtailembeds_tags %}

<div class="row g-4 {{value.heading|slugify}}">
  <h2>{{value.heading}}</h2>

  <div class="container-fluid">
    <div class="row">
      {% for person in self.people %}
      <div class="col-4 d-flex flex-column align-items-start mb-5">
        <div class="d-flex flex-row">
          {% if person.photo %}
            <div class="me-2">
              {% avatar_img image=person.photo name=person.name %}  
            </div>
          {% endif %}

          <div class="flex-grow-1 mb-3">
            <div class="text-lg fw-bold">
              {{person.name}}
            </div>
            <div class="text-midgrey microcopy">
              {{person.title}}
            </div>
          </div>
        </div>

        <div class="text-sm mb-3">
          {{person.bio}}
        </div>

        {% include "stopwatch/includes/person-contact-details.html" with person=person only %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
