{% extends "base.html" %}
{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% if self.photo %}
{% image self.photo height-500 class="img-fluid" %}
{% endif %}

<header class="container my-5">
  <h1>{{self.title}}</h1>

  <div class="heading-medium mt-4 text-darkgrey">
    {{self.intro_text|richtext}}
  </div>
</header>

<main class="container streamfield article-streamfield">
  {% include_block self.body %}
</main>

{% if self.authors %}
  <div class="container mb-5">
    <h2 class="microcopy text-darkgrey">About the author</h2>
  
    {% for author in self.authors %}
      <div class="mt-2">
        <span class="fw-bold">{{author.name}}</span> is {{author.bio}}
      
        <div class="mt-1">
          {% include "stopwatch/includes/person-contact-details.html" with person=author only %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if self.related_articles %}
  <div class="container py-5 border-top border-1 border-midgrey">
    <h2 class="heading-small text-darkgrey mb-4 pb-3 border-bottom border-1 border-primary">More articles</h2>

    <div class="row g-3">
      {% for article in self.related_articles %}
        {% include "stopwatch/includes/article_list_item.html" with page=article %}
      {% endfor %}
    </div>

  </div>
{% endif %}

{% with site_settings=settings.stopwatch.SiteSettings %}
  <div class="container mb-5">
    {% include "stopwatch/components/cta.html" with self=site_settings.donate_block only %}
  </div>
  <div class="container mb-5">
    {% include "stopwatch/components/newsletter_signup.html" with self=site_settings.mailing_list_block only %}
  </div>
{% endwith %}

{% endblock %}