{% extends "base.html" %}
{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% if self.photo and self.show_header_image %}
{% image self.photo height-500 class="block-lg w-100 cover" %}
{% endif %}

<header class="container container-outline py-5 py-md-7">
  <div class="container-mid">
    {% if self.hide_date is False %}
      {% include "stopwatch/includes/article_metadata.html" %}
    {% endif %}
    
    <h1 class="mt-3">{{self.title}}</h1>

    {% if self.authors %}
      {% include "stopwatch/includes/author_metadata.html" %}
    {% endif %}

    <div class="heading-large mt-5 text-darkgrey">
      {{self.intro_text|richtext}}
    </div>
  </div>
</header>

<main class="container container-outline border-btm">
  <div class="container-narrow pb-5 pb-md-7 streamfield">
    {% include_block self.body %}
  </div>

  {% if self.authors %}
    <h2 class="microcopy text-darkgrey">About the author</h2>
  
    {% for author in self.authors %}
      <div class="mt-2">
        <span class="fw-bold">{{author.name}}</span>. {{author.bio}}
      
        <div class="mt-1">
          {% include "stopwatch/includes/person-contact-details.html" with person=author only %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</main>


{% if self.related_articles and self.hide_related_articles is False %}
  <div class="container container-outline py-5 py-md-6 border-btm">
    <div class="container-mid">
      <h2 class="heading-small text-darkgrey border-bottom border-1 border-primary pb-5 pb-md-6">More articles</h2>
      
      {% include "stopwatch/includes/article_list.html" with class="container-mid" pages=self.related_articles style="ROWS" only %}
    </div>
  </div>
{% endif %}

{% with site_settings=settings.stopwatch.SiteSettings %}
  <div class="container container-outline py-5 py-md-7 border-btm">
    <div class="row g-5 g-md-7">
      <div class="col-8 col-md-4">
        {% include "stopwatch/components/cta.html" with self=site_settings.donate_block only %}
      </div>

      <div class="col-8 col-md-4">
        {% include "stopwatch/components/newsletter_signup.html" with self=site_settings.mailing_list_block only %}
      </div>
    </div>
  </div>
{% endwith %}

{% endblock %}