{% extends "base.html" %}
{% load django_bootstrap5 static ckbootstrap_tags wagtailcore_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}

{% if self.newsflash %}
<div class="container container-outline" id="news-ticker">
</div>
{% endif %}

<header class="position-relative container container-outline container-outline-btm p-0">
  <div class="row gx-0">
    {% if self.style == 'ROWS' %}
      <div class="col-md-3 col-lg-2"></div>
    {% endif %}

    {% if self.photo and self.style == 'GRID' %}
      <div class="col-8 col-md-4">
        {% if self.show_header_image %}
          {% image self.photo height-500 class="img-fit" %}
        {% endif %}
      </div>
      
      <div class="col-8 col-md-4 order-md-first py-3 py-md-7 px-3 streamfield-compact">
        <h1 class="heading-xlarge">{{self.title}}</h1>
        
        {{self.description|richtext}}
      </div>
    {% else %}
      <div class="col flex-column flex-md-row p-3">
        <h1 class="mt-5 mb-3">{{self.title}}</h1>
        {% if self.description %}
          <div class="heading-medium mb-5 subheading-maxwidth">
            {{self.description}}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>

<main class="container container-outline pb-5 pt-3">
    <div class="row">
        {% include "stopwatch/includes/filters.html" with style=self.style tags=filter_form.theme sort=filter_form.sort searchable=self.searchable only %}

        <div class="col" {% infinite_scroll_container %}>
          {% include "stopwatch/includes/article_list.html" with pages=child_list_page style=self.style search_query=filter_form.query.value reset_url=self.url only %}
        </div>
    </div>
</main>

{% endblock content %}


{% block extra_js %}
{% bind_filter_form %}

{% if self.newsflash %}
  {% include "stopwatch/includes/news_ticker_js.html" with id="news-ticker" items=self.featured_items only %}
{% endif %}

{% endblock %}
