{% extends "base.html" %}
{% load django_bootstrap5 static ckbootstrap_tags wagtailcore_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}

{% if self.newsflash %}
<div class="container container-outline" id="news-ticker">
</div>
{% endif %}

<header class="position-relative container container-outline container-outline-btm p-0">
  <div class="row gx-0">
    {% if self.style == 'ROWS' %}
      <div class="col-md-2"></div>
    {% endif %}

    {% if self.photo and self.style == 'GRID' %}
      <div class="col-8 col-md-4">
        {% image self.photo height-500 class="img-fit" %}
      </div>
      
      <div class="col-8 col-md-4 order-md-first py-3 py-md-7 px-3 streamfield-compact">
        <h1 class="heading-xlarge">{{self.title}}</h1>
        
        {{self.description|richtext}}
      </div>
    {% else %}
      <div class="col flex-column flex-md-row p-3">
        <h1 class="mt-5 mb-3">{{self.title}}</h1>
        {% if self.description %}
          <div class="heading-medium mb-5 subheading-maxwidth">
            {{self.description}}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>

<main class="container container-outline pb-5 pt-3">
    <div class="row">
        <form
          data-filter-form
          method="GET"
          class="col-8 {% if self.style == 'ROWS' %}col-md-2{% endif %} form-unraised d-flex flex-column align-items-md-start"
        >
          {% if self.tags %}
            <label class="microcopy mb-1 d-none d-md-block" for="tag_filter">Filter</label>
            <div id="tag_filter" role="radiogroup" class="overflow-auto mb-3 d-flex flex-md-column align-items-start">
              {% filter_toggles field=filter_form.theme label_class="btn me-2 mb-2" %}
            </div>
          {% endif %}

          <label class="microcopy mb-1 d-none d-md-block" for="sort-menu">Order</label>
          {% filter_menu id="sort-menu" field=filter_form.sort class="form-select width-md-auto mb-3" %}
          
          {% if self.searchable %}
            <label class="microcopy mb-1 d-none d-md-block" for="search">Search</label>
            <input class="form-control width-md-auto mb-3 mb-md-4 text-naturalcase" autocapitalize="off" name="query" id="search" placeholder="Search" value="{{filter_form.query.value|default:""}}">
          {% endif %}
        </form>

        <div class="col" {% infinite_scroll_container %}>
          {% include "stopwatch/includes/article_list.html" with pages=child_list_page style=self.style search_query=filter_form.query.value reset_url=self.url only %}
        </div>
    </div>
</main>

{% endblock content %}


{% block extra_js %}
{% bind_filter_form %}

{% if self.newsflash %}
  {% include "stopwatch/includes/news_ticker_js.html" with id="news-ticker" items=self.featured_items only %}
{% endif %}

{% endblock %}
