{% extends "base.html" %}
{% load django_bootstrap5 static ckbootstrap_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}

{% if self.newsflash %}
<div class="container container-outline" id="news-ticker">
</div>
{% endif %}

<header class="position-relative container container-outline pb-2 pb-md-3">
  <div class="row">
    {% if self.style == 'ROWS' %}
      <div class="col-md-2"></div>
    {% endif %}

    <div class="col flex-column flex-md-row">
      {% if image %}
        <div class="position-absolute z-2 h-100 w-100 d-flex flex-column justify-content-end">
          <h1 class="px-3 ">{{self.title}}</h1>
        </div>
        
        {% image self.photo height-600 class="img-fluid opacity-50 block-lg full-bleed cover" %}
      {% else %}
        <h1 class="mt-5 mb-3">{{self.title}}</h1>
      {% endif %}
    </div>
  </div>

  {% if self.description %}
    <div class="heading-medium mb-5">
      {{self.description}}
    </div>
  {% endif %}
</header>

<main class="container container-outline pb-5">
    <div class="row">
        <form
          data-filter-form
          method="GET"
          class="col-8 {% if self.style == 'ROWS' %}col-md-2{% endif %} form-unraised d-flex flex-column align-items-md-start"
        >
          {% if self.tags %}
            <label class="microcopy mb-1 d-none d-md-block" for="tag_filter">Filter</label>
            <div id="tag_filter" role="radiogroup" class="overflow-auto mb-3 d-flex flex-md-column align-items-start">
              {% filter_toggles field=filter_form.theme label_class="btn me-2 mb-2" %}
            </div>
          {% endif %}

          <label class="microcopy mb-1 d-none d-md-block" for="sort-menu">Order</label>
          {% filter_menu id="sort-menu" field=filter_form.sort class="form-select width-md-auto mb-3" %}
          
          {% if self.searchable %}
            <label class="microcopy mb-1 d-none d-md-block" for="search">Search</label>
            <input class="form-control width-md-auto mb-3 mb-md-4 text-naturalcase" autocapitalize="off" name="query" id="search" placeholder="Search" value="{{filter_form.query.value|default:""}}">
          {% endif %}
        </form>

        <div class="col" {% infinite_scroll_container %}>
          {% include "stopwatch/includes/article_list.html" with pages=child_list_page style=self.style search_query=filter_form.query.value reset_url=self.url only %}
        </div>
    </div>
</main>

{% endblock content %}


{% block extra_js %}
{% bind_filter_form %}

{% if self.newsflash %}
  {% include "stopwatch/includes/news_ticker_js.html" with id="news-ticker" items=self.featured_items only %}
{% endif %}

{% endblock %}
