{% extends "base.html" %}
{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags django_bootstrap5 %}

{% block content %}

{% if self.photo %}
{% image self.photo height-500 class="img-fluid" %}
{% endif %}

<header class="container container-outline pt-5">
  <div class="container-mid">
    <h1>{{self.title}}</h1>
  </div>
</header>

<main class="container container-outline py-5">
  <div class="container-narrow">
    {% include_block self.thank_you_page %}
  </div>
</main>

{% endblock content %}
