{% extends "base.html" %}
{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags django_bootstrap5 %}

{% block content %}

{% if self.photo %}
{% image self.photo height-500 class="img-fluid" %}
{% endif %}

<header class="container container-outline pt-5">
  <div class="container-mid">
    <h1>{{self.title}}</h1>
    {{self.intro|richtext}}
  </div>
</header>

<main class="container container-outline py-5">
  <form class="container-narrow" action="{% pageurl page %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form show_label=False %}
      <button class="d-block w-100 btn btn-primary" type="submit">
        Submit
      </button>
  </form>
</main>

{% endblock content %}
