{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags ckbootstrap_tags wagtailembeds_tags %}

{% block content %}

{% if self.newsflash_category %}
  <div id="news-ticker"></div>
{% endif %}

<header class="position-relative bg-panel" data-tabanimate="on">
  <div class="position-absolute w-100 py-3 py-md-5 z-2 text-white">
    <div class="container">
      <h1>
        {{self.page_description}}
      </h1>
    </div>
  </div>

  <div>
    {% if self.photo %}
      {% image self.photo width-1000 class="img-fluid img-homepage-hero w-100 cover" %}
    {% endif %}
  </div>
</header>

{% if self.tab_data %}
  <ul class="nav nav-tabs container container-outline px-0 position-relative" id="tabs" role="tablist" data-tabanimate="on">
    {% for item in self.tab_data %}
      <li class="nav-item d-flex flex-column" role="presentation">
        <a
          class="btn{% if forloop.first %} active{% endif %} p-md-3 pt-md-4 flex-grow-1 border-bottom-0"
          id="{{item.meta.title|slugify}}-tab"
          data-bs-toggle="tab"
          data-bs-target="#{{item.meta.title|slugify}}-content"
          type="button"
          role="tab"
          aria-controls="{{item.meta.title|slugify}}-content"
          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
        >
          <span class="d-md-none text-nowrap">
            {{item.meta.title}}
          </span>

          <div class="d-none d-md-block text-reset text-sm">
            <h2>{{item.meta.title}}</h2>

            {{item.meta.short_description|richtext}}
          </div>
        </a>

        <div class="d-none d-md-block tab-active-state p-3 p-md-3 pt-md-0">
          <a class="btn btn-outline-secondary" href="{{item.meta.url}}">
            {{item.meta.cta}}
          </a>
        </div>
      </li>
    {% endfor %}

    <div id="progress" class="progress-bar"></div>
  </ul>

  <div class="tab-content mb-3 mb-md-0" id="content" data-tabanimate="on">
    {% for item in self.tab_data %}
      <div class="tab-pane container-md border-bottom border-1 border-midgrey container-outline fade show{% if forloop.first %} active{% endif %}" id="{{item.meta.title|slugify}}-content" role="tabpanel" aria-labelledby="{{item.meta.title|slugify}}-tab">
        {% include "stopwatch/includes/landing_tab.html" with self=item.meta only %}
      </div>
    {% endfor %}
  </div>
{% endif %}

<main id="main" class="container container-outline pb-5" data-tabanimate="off">
  <div class="row streamfield-flow">
    {% include_block self.body %}
  </div>
</main>

{% endblock content %}


{% block extra_js %}

{% if self.newsflash_category %}
  {% include "stopwatch/includes/news_ticker_js.html" with items=self.newsflash_category.featured_items only %}
{% endif %}

<script>
  (function tabAutoplay() {
    const DURATION = 10000
    let active = true

    const tabs = Array.from(document.querySelectorAll('#tabs a[role="tab"]'))
    const progressEl = document.getElementById('progress')
    let lastTime = 0

    tabs.forEach(tab => {
      tab.addEventListener('click', (event) => {
        progressEl.style.opacity = 0
        active = false
        
        setTimeout(() => {
          tabs.forEach(t => {
            t.classList.remove('active')
            t.setAttribute('aria-selected', 'false')
          })
          tab.classList.add('active')
          tab.setAttribute('aria-selected', 'true')
        })
      })
    })

    function frameTick(timestamp) {
      timeElapsed = lastTime ? lastTime + (timestamp - lastTime) : 0
      lastTime = timestamp

      const cycleTime = timeElapsed % DURATION
      const percentComplete = cycleTime / DURATION
      const tabIndex = Math.floor(percentComplete * tabs.length)

      progressEl.style.transform = `scale(${percentComplete}, 1)`
      const tab = bootstrap.Tab.getOrCreateInstance(tabs[tabIndex])

      tab.show()
      
      if (active) {
        requestAnimationFrame(frameTick)
      }
    }

    requestAnimationFrame(frameTick)
  })()
</script>

{% endblock %}