{% extends "base.html" %}
{% load static ckbootstrap_tags wagtailembeds_tags %}

{% block content %}

<header class="position-relative block-lg bg-panel border-bottom border-2 border-primary">
  <div class="position-absolute p-3 z-2 h-100 w-100 d-flex flex-column text-sm justify-content-end">
    <h1>{{self.title}}</h1>
    <div>
      {{self.page_description}}
    </div>
  </div>
  <div class="block-lg scale-embed opacity-50">
    {% if self.landing_video %}
      {% embed self.landing_video %}
    {% endif %}
  </div>
</header>

<main>
  <div class="container">
    {{self.body}}
  </div>
</main>

{% endblock content %}
