{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags %}

<div class="mt-3">
  <span class="fw-bold">{{author.name}}</span> is {{author.bio}}

  {% if author.twitter or author.email or author.website %}
    <div class="mt-1">
      {% if author.twitter %}
        <a class="d-block" href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a>
      {% endif %}
      {% if author.email %}
        <a class="d-block" href="mailto:{{author.email}}">{{author.email}}</a>
      {% endif %}
      {% if author.website %}
        <a class="d-block" href="{{author.website}}">{{author.website}}</a>
      {% endif %}

    </div>
  {% endif %}
</div>
