{% if category or tag or page.tags.first or not page.hide_date %}
  <div class="d-inline-flex flex-row microcopy text-darkgrey {{class}}">
    {% if category %}
      <div class="pe-3 link-reset">
        {{category.title}}
      </div>
    {% endif %}

    {% if page.tags.first or tag %}
      <div class="pe-3">
        {{tag.name|default:page.tags.first.name}}
      </div>
    {% endif %}

    {% if not page.hide_date %}
      <div class="pe-3">
        {{page.first_published_at|date:"d.m.Y"}}
      </div>
    {% endif %}
  </div>
{% endif %}