{% load static ckbootstrap_tags ckdjango_tags wagtailembeds_tags wagtailimages_tags %}

<div class="card card-flush mx-2 mb-5 flex-shrink-0">
  {% image page.photo width-600 class="card-img-top cover block-md" %}

  <div class="card-body mw-100">
    <h2 class="card-title pt-2 whitespace-wrap">{{page.title}}</h2>
    <p class="card-text">
      {% if summary %}
        {{summary}}
      {% elif page.summary %}
        {{page.summary}}
      {% elif page.intro_text %}
        {{page.intro_text}}
      {% else %}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium fusce id. Consectetur libero id faucibus nisl. Sagittis purus sit amet volutpat consequat mauris nunc. Congue eu consequat ac felis donec et odio.
      </p>
      <p>
        Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Odio morbi quis commodo odio aenean sed adipiscing diam donec.
      </p>
      {% endif %}
    </p>

    <a class="btn btn-primary" href="{{page.url}}">
      Read more
    </a>
  </div>
</div>