{% load wagtailimages_tags wagtailcore_tags ckwagtail_tags %}

<div class="row">
  <div class="col-8 py-3 bg-lightgrey d-md-none">
    <h3 class="heading-large mb-2">{{self.title}}</h3>
    
    <div class="paragraph-container  max-lines-6 mb-3">
      {{self.short_description|richtext}}
    </div>
    
    <div>
      <a class="btn btn-outline-secondary" href="{{self.url}}">
        {{self.cta}}
      </a>
    </div>
  </div>
  
  {% if self.photo %}
    <div class="col-8 col-md-4 pe-md-0">
      {% image self.photo height-500 class="img-fit mb-3 mb-md-0" %}
    </div>
  {% endif %}
  
  {% if self.description %}
    <div class="paragraph-container max-lines-6 col-8 col-md-4 order-md-first mt-md-5 mb-4 mb-md-5">
      <h2 class="text-primary">{{ self.heading }}</h2>

      {{self.description|richtext}}
    </div>
  {% endif %}
</div>
