{% load static ckbootstrap_tags wagtailcore_tags wagtailimages_tags %}

{% if person.twitter or person.email or person.website %}
  <div class="{{self.class|default:"mt-1"}}">
    {% if person.twitter %}
      <a class="d-block" href="https://twitter.com/{{person.twitter}}">@{{person.twitter}}</a>
    {% endif %}
    {% if person.email %}
      <a class="d-block" href="mailto:{{person.email}}">{{person.email}}</a>
    {% endif %}
    {% if person.website %}
      <a class="d-block" href="{{person.website}}">{{person.website}}</a>
    {% endif %}
  </div>
{% endif %}